/* components/Navbar.module.css */

.navbar {
  background-color: #ecfcc2;
  color: #070707;
  padding: 20px 0; /* Yüksekliği artırarak daha büyük yapın */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  font-family: "Courier New", Courier, monospace; /* Yazı tipini ayarlayın */
  font-size: 20px; /* Yazı boyutunu ayarlayın */
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0 20px;
}

.navItem a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: #f8f8f8;
}
