/* about.module.css (veya Home.module.css) */


.container {
    min-height: 100vh;
    background-image: url('/about-bacground.jpg'); /* Hakkımızda sayfasının arka plan görselinin yolunu belirtin */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  /* Diğer stilleri burada ekleyebilirsiniz */
  